<template name="WIFI">
    
    <a href="/recentwificonnections"><button class="new-recipe">Recent Connections</button></a>

    {{#each connect}}
   
    <ul class="shopping-list in-menu">

    <li>
    <h3>{{ssid}}</h3>
    <!-- {{type}} -->
   <p>Channel</p>:  {{channel}}
    <p>Security</p>: {{security}}</li>
   <a href="/connectWifi/{{_id}}"> <i class="fa fa-pencil"></i></a>
    </ul>

    
    {{/each}} 

   
    
</template>