<template name="Bluetooth">

 <a href="/recentbluetoothconnections"><button class="new-recipe">Recent Connections</button></a>
{{#each connect}}
<ul class="shopping-list {{#if status=on}}in-menu{{/if}}">
<li>
   <h3> {{name}}</h3>
{{strength}}
{{security}}</li>
<a href="/connectbluetooth/{{_id}}"> <i class="fa fa-pencil"></i></a>
</ul>


{{/each}}


</template>