<template name="Recentbluetooth">
        {{#each connect}}
        <ul class="shopping-list {{#if status=on}}in-menu{{/if}}">
        <li>
        <h3> {{name}}</h3>
  
        {{strength}}
        {{security}}</li>
        </ul>
        
        {{/each}}

</template>